.introCard {
  background-color: #457b9d;
  width: 80%;
  margin: auto;
  padding: 20px 40px;
  border-radius: 15px;
}

.exerciseInfo {
  color: #fffefe;
  font-size: 1.5rem;
}
.priceForm {
  // margin: auto;
  margin-bottom: 30px;
  background-color: #e63946;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 40%;
  min-width: 220px;
}

.infoImageHolder {
  width: 70%;
  margin: auto;
}

.moreInfo {
  color: white;
  font-size: 1.1rem;
  max-height: 0;
  // margin: auto;
  overflow: hidden;
  transition: max-height 0.4s linear;
}
.moreInfo.showDisplay {
  max-height: 1600px;
}

.expanderButton {
  margin: auto;
  display: block;
  // align-self: center;
}

// ***** Responsive Styling *****
@media (max-width: 750px) {
  .infoImageHolder {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .excerciseInfo {
    font-size: 1.3rem;
  }
}

@media (max-width: 550px) {
  .introCard {
    padding: 30px 20px;
    width: 90%;
  }

  .priceForm {
    width: 100%;
  }
}
