.introCard {
  background-color: #fffffff5;
  width: 80%;
  margin: auto;
  padding: 20px 40px;
  border-radius: 15px;
}

.exerciseInfo {
  color: #1d3557;
  font-size: 1.5rem;
}
.priceForm {
  background-color: #457b9d;
  color: #f1faee;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 40%;
  min-width: 220px;
}

.priceForm button {
  border: transparent;
  background-color: #ffffff;
  color: #1d3557;
  border-radius: 10px;
  padding: 5px;
  transition: color 0.3s linear;
}

.priceForm button:hover,
.priceForm button:focus-visible {
  background-color: #1d3557;
  color: #ffffff;
  cursor: pointer;
}

.infoImageHolder {
  width: 70%;
  margin: auto;
  border: 1px solid #1d3557;
}

.moreInfo {
  color: #142947;
  font-size: 1.1rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.moreInfo.showDisplay {
  max-height: 1600px;
}

.expanderButton {
  margin: auto;
  display: block;
  align-self: center;
  text-align: center;
  font-size: 1.5rem;
  background-color: transparent;
  border: transparent;
  color: #c5303c;
  transition: all 0.3s ease;
}

.expanderButton.rotate {
  transform: rotate(180deg);
}

// ***** Responsive Styling *****
@media (max-width: 750px) {
  .infoImageHolder {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .introCard {
    padding: 30px 20px;
    width: 90%;
  }

  .priceForm {
    width: 100%;
  }
}
