.introCard {
  background-color: #457b9d;
  width: 80%;
  margin: auto;
  padding: 40px;
  border-radius: 15px;
}

.exerciseInfo {
  color: #fffefe;
  font-size: 1.5rem;
}
.priceForm {
  margin-bottom: 20px;
}

.infoImageHolder {
  width: 50%;
  margin: auto;
}

.moreInfo {
  color: white;
  transition: all 0.3s ease;
  font-size: 1.1rem;
}

// .moreInfo.hideDisplay {
// }
