h1 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
// Giving body a dark background color, in case video background doesn't load.
body {
  background-color: #142947;
}

header {
  margin-bottom: 100px;
}

img {
  width: 100%;
}
.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -99;
}
.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}
