h1 {
  color: #0081a7;
}
body {
  background-color: #f1faee;
}

header {
  margin-bottom: 100px;
}

main {
  background-color: #457b9d;
  width: 80%;
  margin: auto;
  padding: 40px;
  border-radius: 15px;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

.exerciseInfo {
  color: #fffefe;
  font-size: 1.5rem;
}
