html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  color: #0081a7;
}

body {
  background-color: #f1faee;
}

header {
  margin-bottom: 100px;
}

img {
  width: 100%;
}

.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -99;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

.introCard {
  background-color: #457b9d;
  width: 80%;
  margin: auto;
  padding: 20px 40px;
  border-radius: 15px;
}

.exerciseInfo {
  color: #fffefe;
  font-size: 1.5rem;
}

.priceForm {
  margin-bottom: 30px;
  background-color: #e63946;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 40%;
  min-width: 220px;
}

.infoImageHolder {
  width: 70%;
  margin: auto;
}

.moreInfo {
  color: white;
  font-size: 1.1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s linear;
}

.moreInfo.showDisplay {
  max-height: 1600px;
}

.expanderButton {
  margin: auto;
  display: block;
}

@media (max-width: 750px) {
  .infoImageHolder {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .excerciseInfo {
    font-size: 1.3rem;
  }
}
@media (max-width: 550px) {
  .introCard {
    padding: 30px 20px;
    width: 90%;
  }

  .priceForm {
    width: 100%;
  }
}
.result {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.priceDetails {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.resultHolder,
.messageHolder {
  border-radius: 15px;
  background-color: #e63946;
  color: white;
  font-size: 1.3rem;
  margin: 20px auto;
  text-align: center;
}

.priceDetails .resultHolder {
  padding: 20px;
  width: 30%;
  min-width: 250px;
}

.messageHolder {
  width: 0px;
  transition: all 0.3s ease;
}

.messageHolder.expand {
  width: auto;
  padding: 20px;
  display: block;
}

.display {
  padding: 20px;
  color: #1d3557;
}/*# sourceMappingURL=style.css.map */